:root{
  --primary: #C92071;
  --secondary: #B5B6F2;
  --tertiary: #991956;
  --text: #d8d7ee;
  --background: #d8d7ee;
  --error: #EE4266;
  --warning: #F6AA1C;
  --success: #52CA76;

  --dark-gray: #1F1F1F;
  --dark-gray-2: #474747;
  --dark-gray-3: #666666;

  --light-gray: #8F8F8F;
  --light-gray-2: #CCCCCC;
  --light-gray-3: #F5F5F5;

  --white: #FFFFFF;
}

*,*::after,*::before{
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin-top:20rem;
}

li{
  list-style: none;
  color:inherit;
  font-size: inherit;
}

a{
  color: inherit;
}

button{
  cursor: pointer;
}